:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #f0f4f5;
  --second-brand-color: #3d5cb8;
  --third-brand-color: #e98b6d;
  --fourth-brand-color: #ffcea2;

  --main-font: 'Montserrat';
  --title-font: 'Montserrat SemiBold';
  --main-title-font: 'Montserrat ExtraBold';

  font-size: 62.5%;
}
